@media screen and (max-width: 1023px) {

    .topSec {
        width: 100vw;
    }

    .backgroundGradientArea {
        width: 100%;
    }

    header img {
        width: 40%;
    }

    header button {
        display: none;
    }

    label {
        display: block;
        position: relative;
        width: 10vw;
        z-index: 11;
        height: 10vw;
    }

    #burgerChecker:checked~label div:nth-of-type(1) {
        top: 40%;
        transform: rotate(45deg);
    }

    #burgerChecker:checked~label div:nth-of-type(2) {
        opacity: 0;
    }

    #burgerChecker:checked~label div:nth-of-type(3) {
        top: 40%;
        transform: rotate(-45deg);
    }

    #burgerChecker:checked~.mobileNav {
        height: 100vh;
    }

    #burgerChecker:checked~label {
        position: fixed;
        right: 5vw;
    }

    #burgerChecker:checked~label div {
        background-color: #EE4D47;
    }

    label div {
        position: absolute;
        height: 1vh;
        background-color: #f5ebeb;
        width: 100%;
        transition: 0.3s;
    }

    label div:nth-of-type(2) {
        top: 40%
    }

    label div:nth-of-type(3) {
        top: 80%
    }

    .mobileNav__links a {
        color: #EE4D47;
        display: flex;
        margin-top: 10vh;
        justify-content: center;
        text-align: center;
        font-size: 8vw;
    }

    h1 {
        font-size: 11vw;
        width: 90%;
    }

    .mobileNav {
        position: fixed;
        display: block;
        top: 0;
        height: 0;
        width: 100vw;
        left: 0;
        background-color: #f5ebeb;
        z-index: 10;
        transition: 0.3s;
        overflow: hidden;
    }

    .titleButton {
        margin-top: 10vh;

    }

    .getStartedBtn {
        width: 40%;
        font-size: 3.5vw;
        border-radius: 1vw;
    }

    .navigationBtn {
        display: none;
    }

    .imageCar {
        display: none;
    }

    .rock {
        display: none;
    }

    .rock2 {
        display: none;
    }

    .imagePeople {
        display: none;
    }

    .secondSec {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        width: 80vw;
    }

    .secondSec img {
        width: 80%;
    }

    .infoSec {
        width: 100%;
        font-size: 2vw;
    }

    .infoBlock {
        font-size: 3.5vw;
        line-height: 4vw;
    }

    .secondSec h3 {
        text-align: center;
    }

    .aboutUsText {
        text-align: center;
        font-size: 3.5vw;
        width: 95%;
        line-height: 5vh;
    }

    .thirdSection {
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
        width: 100vw;
    }

    .thirdSection img {
        width: 80%;
    }

    .thirdSection h3 {
        text-align: center;
    }

    .howToApplySec {
        width: 90%;
    }

    .howToApplyText {
        text-align: center;
        width: 95%;
        font-size: 3.5vw;
        line-height: 7vw;
    }

    .allClientSec {
        width: 85vw;
        flex-wrap: wrap;
    }

    section:hover h3 {
        transform: scale(130%);
    }

    .clientSec {
        width: 100%;
        margin: 2vh;
        font-size: 4.5vw;
        line-height: 6vw;
    }

    h4 {
        font-size: 3vw;
    }

    h2 {
        font-size: 8.5vw;
    }

    h3 {
        font-size: 5vw;
    }

    footer {
        height: 15vh;
    }

    footer img {
        width: 40%;
    }

    footer nav {
        width: 25%;
    }

    footer p {
        font-size: 2.5vw;
    }
}